player-connection-mode=Listen
player-connection-guid=2595388536
player-connection-debug=0
player-connection-project-name=Procedural Terrain
player-connection-ip=10.131.77.234
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=05b58f770a7b4357bdc61e390fc674e4
